#root {
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.read-the-docs {
  color: #888;
}

.header {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  flex: 1 1 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  place-items: center;
  gap: 1rem;
}

.box {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #888;
  padding-top: 1rem;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
